body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: "Roboto", sans-serif;
    color: var(--clr-dark);
    background-color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    height: 700px;
    margin: 0 auto;
    /* border: 10px solid darkblue; */
}

.item {
    width: 150px;
    height: 150px;
    background-color: #fb7185;
    padding: 1em;
    font-weight: 700;
    color: var(--clr-light);
    text-align: center;
    border: 10px solid black;
    border-radius: 10px;
}
.container {
    display: flex;

    /* 
    flex-direction: row;
    flex-direction: column;

    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;

    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: stretch;
    align-items: baseline;

    flex-wrap: nowrap;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;

    align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: stretch;
    align-content: space-between;
    align-content: space-around;
    align-content: space-evenly;

    order: 0;
    order: 1;
    order: 2;
    order: 3;

    flex-grow: 0;
    flex-grow: 1;
 

    flex-basis: 0;
    flex-basis: 100px;

    flex: 1;
    flex: 0 0 0;
    flex: 1 1 1;

    gap: 0;
    gap: 1rem;
    gap: 2rem;
    row-gap: 1rem;
    column-gap: 1rem;





    */
    
}




